appdirs==1.4.3
azure==1.0.3
azure-common==1.1.4
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.1
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==1.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
click==6.6
Flask==0.11.1
Flask-BasicAuth==0.2.0
futures==3.0.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
requests==2.13.0
six==1.10.0
Werkzeug==0.11.11
