{% extends "base.html" %}
{% import "macros.html" as macros %}
{% import "codemacros.html" as codemacros %}
  
{% block tutorialcontent %}


 <h2>Create GoLang apps using SQL Server on Ubuntu</h2>
                {{macros.introSentence("GoLang","Ubuntu 16.04 machine")}}
                <ol>
                    <li>
                        <div class="step-item">
                            <span>1</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="1" class="step-header collapsible">
                                <h3>Set up your environment <span class="expand-icon">+</span></h3>
                                <p class="step-preview">In this section you will get SQL Server vNext running on your Ubuntu machine. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">After that you will install the necessary dependencies to run GoLang.</span></p>
                            </div>
                            <span class="step-content">
                                {{macros.installSQLServerOnUbuntu()}}

                                <h4>Install GoLang</h4>
                                <p> If you already have GoLang installed on your machine, skip this step. To install GoLang, follow these commands:</p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">curl -O https://storage.googleapis.com/golang/go1.6.linux-amd64.tar.gz
tar xvf go1.6.linux-amd64.tar.gz
sudo chown -R root:root ./go
sudo mv go /usr/local</code></pre>
                                <p>Using your favorite text editor, add these two lines to the <code>~/.profile</code> file.</p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">export GOPATH=$HOME/work
export PATH=$PATH:/usr/local/go/bin:$GOPATH/bin</code></pre>

                                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You now have GoLang installed! The next section will walk you through getting the tools to interact with your database.</p>

                                {{macros.installSqlcmdUbuntu()}}
                                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You have successfully installed, SQL Server, sqlcmd, and GoLang Ubuntu machine. You now have everything you need to start writing your Go apps with SQL Server! </p>
                            </span>
                        </div>
                    </li>
                    
                    <li>
                        <div class="step-item">
                            <span>2</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="2" class="step-header collapsible">
                                <h3>Create your GoLang application with SQL Server <span class="expand-icon">+</span></h3>
                                <p class="step-preview">After getting SQL Server and GoLang on your Ubuntu machine, you can now proceed to create your new Go projects. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">Here we will explore two simple applications. One of them will perform basic Insert, Update, Delete, and Select operations, while the second one will make use of <a href="http://docs.sequelizejs.com/en/v3/">Sequelize</a>, one of the most popular GoLang Object-relational mappers, to execute the same operations.</span></p>
                            </div>
                            <span class="step-content">
                            {{codemacros.nodeUnixCRUD()}}
                            {{codemacros.nodeUnixORM()}}
                            </span>
                        </div>
                    </li>
                    <!-- END this section is for Node ORM SQL CRUD -->
                    <!-- START Columnstore-->
                    <li>
                        <div class="step-item">
                            <span>3</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="3" class="step-header collapsible">
                                <h3 id="section-3-title">Make your GoLang app up to <strong>100x faster</strong> using Columnstore <span class="expand-icon">+</span></h3>
                                <p class="step-preview">Now that you have explored the basics, you are ready to see how you can make your app better with SQL Server. <span class="see-more">... <strong>See more</strong></span>
                                <span class="preview-content">In this module we will show you a simple example of <a href="https://msdn.microsoft.com/en-us/library/gg492088.aspx">Columnstore Indexes </a> and how they can improve data processing speeds. <b>Columnstore Indexes</b> can achieve up to 100x better performance on analytical workloads and up to 10x better data compression than traditional rowstore indexes.</span></p>
                            </div>
                            <span class="step-content">
                                {{codemacros.nodeUnixColumnStore()}}
                            </span>
                        </div>
                    </li>
                    <!-- END Columnstore-->
                     <li>
                        <div class="step-item" id="resources">
                            <span>+</span>
                        </div>
                        <div class="step-body">
                            {{macros.installVSCodeExtension()}}   
                        </div>
                    </li>      
                    <li>
                        <div class="step-body">  
                            {{macros.CTA("https://channel9.msdn.com/Events/Connect/2016/160", " SQL Server + GoLang on Channel 9", "https://docs.microsoft.com/en-us/sql/linux/")}}
                        </div>
                    </li>
                    <li>
                        <div class="step-item-tools">
                        </div>
                        <div class="step-body">
                            {{macros.feedback()}}
                        </div>
                    </li>
                </ol>
 {{codemacros.discus()}}

{% endblock %}