{% extends "base.html" %}
{% block tutorialcontent %}
   <style>

   </style>     
  <h2>Choose a language and operating system <b>above</b> to get started with DB Engine's RDBMS of the Year, 2016!</h2>
  <a href="http://db-engines.com/en/blog_post/67" target="_blank"><img class = "logobadge" alt="Database of the Year Badge" src="http://db-engines.com/pictures/doty2016.png" height="152" width="152"></a>
  <br>
  <div align=center><img src="https://deve2e.azureedge.net/sqlchoice/static/images/programminglanguages.png"> </img></div>
  <div align=center><h3>Don't see a programming language you were looking for? Join the conversation on <a href= "https://gitter.im/Microsoft/mssql-developers">Gitter</a>.</h3></div> 
{% endblock %}

