{% extends "base.html" %} 
{% import "macros.html" as macros %}
{% import "javamacros.html" as codemacros %}
  
{% block tutorialcontent %}
 <h2>Create Java apps using SQL Server on SLES</h2>
               {{macros.introSentence("Java","SUSE Enterprise Linux Server (SLES) 12 SP2 machine")}}
                <ol>
                    <li>
                        <div class="step-item">
                            <span>1</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="1" class="step-header collapsible">
                                <h3>Set up your environment <span class="expand-icon">+</span></h3>
                                <p class="step-preview">In this section you will get SQL Server vNext running on your SLES machine. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">After that you will install the necessary dependencies to run Java.</span></p>
                            </div>
                            <span class="step-content">
                                {{macros.installSQLServerOnSLES()}}
                                <h4>Install Java</h4>
                                <p>If you already have Java installed on your machine, skip the next two steps. Install the Java Runtime Environment (JRE) and the Java Development Kit (JDK) using the following commands.</p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">sudo zypper update
sudo zypper install java-1_8_0-openjdk
sudo zypper install java-1_8_0-openjdk-devel</code></pre>

                                <h4>Install Maven</h4>
                                <p>Maven can be used to help manage dependencies, build, test and run your Java project. </p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">sudo zypper addrepo http://download.opensuse.org/repositories/devel:tools:building/SLE_12_SP2/devel:tools:building.repo
sudo zypper refresh
sudo zypper install maven</code></pre>
                                <p>Check that you have Maven properly installed by running the following command. </p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">mvn -v</code></pre>
                                <pre><code class="language-results">Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-10T08:41:47-08:00)
Maven home: /usr/share/java/maven
Java version: 1.8.0_121, vendor: Oracle Corporation
Java home: /usr/lib64/jvm/java-1.8.0-openjdk-1.8.0/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "4.4.38-93-default", arch: "amd64", family: "unix"
</code></pre>                  
<br>Note: If you're using an older version of Java, such as 1.7, your results above may differ slightly. If you want to use an updated version of Java, please update your Java home variable.
                                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You have successfully installed Java and Maven on your SLES machine. You now have everything you need to start writing your Java apps with SQL Server!</p>
                    </li>
                    <!-- START this section is for Java SQL CRUD -->
                    <li>
                        <div class="step-item">
                            <span>2</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="2" class="step-header collapsible">
                                <h3>Create your Java application with SQL Server <span class="expand-icon">+</span></h3>
                                <p class="step-preview">After getting SQL Server, Java, and Maven on your SLES machine, you can now proceed to create your new Java projects. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">Here we will explore two simple applications. One of them will perform basic Insert, Update, Delete, and Select operations, while the second one will make use of <a target="new" href="http://hibernate.org/orm/">Hibernate</a>, one of the most popular Java frameworks, to execute the same operations.</span></p>
                            </div>
                            <span class="step-content">                           
                            {{codemacros.javaCRUD()}}                            
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You created your first Java + SQL Server app with Maven! Check out the next section to create a Java App using an ORM!</p>
                            {{codemacros.javaHibernate()}}
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> Congrats you just created two Java apps! Check out the next section to learn about how you can <b>make your Java apps faster with SQL Server's Columnstore feature. </b></p>
                            </span>
                        </div>
                    </li>
                    <!-- END this section is for Hibernate ORM SQL CRUD -->
                    <!-- START Columnstore-->
                    <li>
                        <div class="step-item">
                            <span>3</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="3" class="step-header collapsible">
                                <h3 id="section-3-title">Make your Java app up to <strong>100x faster</strong> using Columnstore <span class="expand-icon">+</span></h3>
                                <p class="step-preview">Now that you have explored the basics, you are ready to see how you can make your app better with SQL Server. <span class="see-more">... <strong>See more</strong></span>
                                <span class="preview-content">In this module we will show you a simple example of <a href="https://msdn.microsoft.com/en-us/library/gg492088.aspx">Columnstore Indexes </a> and how they can improve data processing speeds. <b>Columnstore Indexes</b> can achieve up to 100x better performance on analytical workloads and up to 10x better data compression than traditional rowstore indexes.</span></p>
                            </div>
                            <span class="step-content">
                            {{codemacros.javaColumnstore()}} 
                            </span>
                        </div>
                    </li>
                    <!-- END Columnstore-->
                    <li>
                        <div class="step-item" id="resources">
                            <span>+</span>
                        </div>
                        <div class="step-body">
                            {{macros.installVSCodeExtension()}}   
                        </div>
                    </li>      
                    <li>
                        <div class="step-body">  
                            {{macros.CTA("https://channel9.msdn.com/Events/Connect/2016/152", "SQL Server + Java on Channel 9","https://docs.microsoft.com/en-us/sql/linux/")}}
                        </div>
                    </li>
                    <li>
                        <div class="step-item-tools">
                        </div>
                        <div class="step-body">
                            {{macros.feedback()}}
                        </div>
                    </li>
                </ol>
 {{codemacros.discus()}}

{% endblock %}
