{% extends "base.html" %}
{% import "macros.html" as macros %}
{% import "phpmacros.html" as codemacros %} 
{% block tutorialcontent %}

 <h2>Create PHP apps using SQL Server on Ubuntu</h2>
                {{macros.introSentence("PHP","Ubuntu 16.04 machine")}}
                <ol>
                    <li>
                        <div class="step-item">
                            <span>1</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="1" class="step-header collapsible">
                                <h3>Set up your environment <span class="expand-icon">+</span></h3>
                                <p class="step-preview">In this section you will get SQL Server vNext running on your Ubuntu machine. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">After that you will install the necessary dependencies to run PHP.</span></p>
                            </div>
                            <span class="step-content">
                                <!--install SQL Server on Ubuntu-->
                                {{macros.installSQLServerOnUbuntu()}}
                                <h4>Install PHP and Apache</h4>
                                <p> If you already have PHP and Apache installed on your machine, skip this step. Install PHP and Apache using the following commands.</p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">sudo apt-get -y install php7.0 libapache2-mod-php7.0 mcrypt php7.0-mcrypt php-mbstring php-pear php7.0-dev apache2</code></pre>                                
                                <pre><code class="language-results">
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
 
...
</code></pre>
    <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You have successfully installed PHP and Apache on your Ubuntu machine. </p>
    {{macros.installSqlcmdUbuntu()}}                   
    <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You have successfully installed, SQL Server, sqlcmd, PHP and Apache on your Ubuntu machine. You now have everything you need to start writing your PHP app with SQL Server! </p>

                    </li>
                    
                    
                    <!-- START this section is for PHP SQL CRUD -->
                    <li>
                        <div class="step-item">
                            <span>2</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="2" class="step-header collapsible">
                                <h3>Create your PHP application with SQL Server <span class="expand-icon">+</span></h3>
                                <p class="step-preview">After getting SQL Server and PHP on your Ubuntu machine, you can now proceed to create your new PHP apps. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">Here we will explore two simple applications. One of them will perform basic Insert, Update, Delete, and Select operations, while the second one will make use of <a target="new" href="https://laravel.com/"> Laravel</a>, a popular web framework for PHP to execute the same operations.</span></p>
                            </div>
                            <span class="step-content">
                            {{codemacros.phpCRUD()}}
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You created your first PHP + SQL Server on Ubuntu! Check out the next section to create a PHP app using Laravel</p>
                            {{codemacros.phpLaravelUbuntu()}}
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> Congrats you just created two PHP apps! Check out the next section to learn about how you can <b>make your PHP apps faster with SQL Server's Columnstore feature.</b></p>
                            </span>
                        </div>
                    </li>
                    <!-- END this section is for PHP ORM SQL CRUD -->
                    <!-- START Columnstore-->
                    <li>
                        <div class="step-item">
                            <span>3</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="3" class="step-header collapsible">
                                <h3 id="section-3-title">Make your PHP app up to <strong>100x faster</strong> using Columnstore <span class="expand-icon">+</span></h3>
                                <p class="step-preview">Now that you have explored the basics, you are ready to see how you can make your app better with SQL Server. <span class="see-more">... <strong>See more</strong></span>
                                <span class="preview-content">In this module we will show you a simple example of <a href="https://msdn.microsoft.com/en-us/library/gg492088.aspx">Columnstore Indexes</a> and how they can improve data processing speeds. <b>Columnstore Indexes</b> can achieve up to 100x better performance on analytical workloads and up to 10x better data compression than traditional rowstore indexes.</span></p>
                            </div>
                            <span class="step-content">
                                {{codemacros.phpColumnstore()}}
                            </span>
                        </div>
                    </li>
                    <!-- END Columnstore-->
                   <li>
                        <div class="step-item" id="resources">
                            <span>+</span>
                        </div>
                        <div class="step-body">
                            {{macros.installVSCodeExtension()}}   
                        </div>
                    </li>      
                    <li>
                        <div class="step-body">  
                            {{macros.CTA("https://channel9.msdn.com/Events/Connect/2016/182", " SQL Server + PHP on Channel 9", "https://docs.microsoft.com/en-us/sql/linux/")}}
                        </div>
                    </li>
                    <li>
                        <div class="step-item-tools">
                        </div>
                        <div class="step-body">
                            {{macros.feedback()}}
                        </div>
                    </li>
                </ol>


 {{codemacros.discus()}}
                 
{% endblock %}
