{% extends "base.html" %}
{% import "macros.html" as macros %} 
{% import "codemacros.html" as codemacros %} 
{% import "pythonTutorialMacros.html" as pythonmacros %}
{% block tutorialcontent %}


<h2>Create Python apps using SQL Server on a Windows</h2>
{{macros.introSentence("Python","Windows machine")}}
<ol>
    <li>
        <div class="step-item">
            <span>1</span>
        </div>
        <div class="step-body">
            <div class="step-header collapsible">
                <h3>Set up your environment 
                    <span class="expand-icon">+</span>
                </h3>
                <p class="step-preview">In this section you will get SQL Server Developer edition running on your Windows machine. 
                    <span class="see-more">... 
                        <strong>See more</strong>
                    </span>
                    <span class="preview-content">After that you will install the necessary dependencies to run Python through Choco.</span>
                </p>
            </div>
            <span class="step-content">
                <!--install SQL Server on Mac-->
                                {{macros.installSQLServeronWindows()}}  
                <h4>Install Python, pip, and Virtualenv</h4>
                <p><b>Install Python and pip</b>
                    <br> Download and run the installer <a href="https://www.python.org/downloads/">here</a>.<br>

                <br>Add Python to your PATH environment variable
                <br>1. Press start
                <br>2. Search for "Advanced System Settings"
                <br>3. Click on the "Environment Variables" button
                <br>4. Add the location of the Python27 folder to the PATH variable in <b>System Variables</b>. The following is a typical value for the PATH variable <i>C:\Python27</i></p>              
                                
            <p><b>Install <a href="https://virtualenv.pypa.io/en/stable/">virtualenv</a></b> 
            <br>Virtualenv enables you to create a virutal environment to isolate your application between your environments</p>
                <pre class="command-line" data-prompt=">">
                    <code class="language-terminal">pip install virtualenv </code>
                </pre>
                <p>
                    <img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You now Python and pip installed! The next section will walk you through getting the tools to interact with your database.
                    </p>
                    <!--install SQLCMD on Windows-->
                                {{macros.sqlcmdwindows()}}
                </span>
            </div>
        </li>
        <!-- SECTION 2 START: CRUD and set up with Django -->
        <!-- Look into pythonTutorialsMacros for pythonApps(platform, terminalprompt, cliTool, cliCommand)-->
                            {{pythonmacros.pythonAppsWindows("{ODBC Driver 13 for SQL Server}", "Windows", ">", "SQLCMD", "sqlcmd -S localhost -U sa -P your_password -Q","venv\Scripts\\activate","'driver':'ODBC Driver 13 for SQL Server'")}} 
    
        <!-- SECTION 2 END -->
        <!-- SECTION 3 START: make python apps faster with columnstore-->
        <!-- Look into pythonTutorialsMacros pythonColumnStore(terminalprompt, cliTool, cliReadFileCommand, cliQueryCommand)-->
                            {{pythonmacros.pythonColumnStoreWindows(">", "SQLCMD", "sqlcmd -S localhost -U sa -P your_password -d SampleDB -i", "sqlcmd -S localhost -U sa -P your_password -d SampleDB -Q","venv\Scripts\\activate")}} 
    
        <!-- END SECTION 3-->
         <li>
            <div class="step-item" id="resources">
                <span>+</span>
            </div>
            <div class="step-body">
                {{macros.installVSCodeExtension()}}   
            </div>
        </li>      
        <li>
            <div class="step-body">
            {{macros.CTA("https://channel9.msdn.com/Events/Connect/2016/189", "SQL Server + Python on Channel 9", "https://msdn.microsoft.com/en-us/library/mt590198(v=sql.1).aspx")}}
            </div>
        </li>
        <li>
            <div class="step-item-tools"></div>
            <div class="step-body">
            {{macros.feedback()}}
            </div>
        </li>
    </ol>
    {{codemacros.discus()}}
{% endblock %}