{% import "macros.html" as macros %}

<!--this file holds all the macros related to python tutorials-->


<!--Python Section 3 for Unix-->
{% macro pythonColumnStore(driver, terminalprompt, cliTool, cliReadFileCommand, cliQueryCommand, virtualenvactivate) %}
<li>
    <div class="step-item">
        <span>3</span>
    </div>
    <div class="step-body">
        <div tabindex="3" class="step-header collapsible">
            <h3 id="section-3-title">Make your Python app up to <strong>100x faster</strong> using Columnstore <span class="expand-icon">+</span></h3>
            <p class="step-preview">Now that you have explored the basics, you are ready to see how you can make your app better with SQL Server. <span class="see-more">... <strong>See more</strong></span>
                <span class="preview-content">In this module we will show you a simple example of <a href="https://msdn.microsoft.com/en-us/library/gg492088.aspx">Columnstore Indexes </a> and how they can improve data processing speeds. <b>Columnstore Indexes</b> can achieve up to 100x better performance on analytical workloads and up to 10x better data compression than traditional rowstore indexes.</span>
            </p>
        </div>
        <span class="step-content">
                            {{macros.columnstoreSP1()}}   

                            <p>To showcase the capabilities of Columnstore Indexes, let's create a table with 5 million rows with {{cliTool}}. The following T-SQL code will create a table with 5,000,000 rows of random data. From your home directory, create a new SQL script using the below command.</p>

                            <pre class="command-line language-terminal" data-output="2-100" data-prompt="{{terminalprompt}}"><code class="language-terminal">echo "WITH a AS (SELECT * FROM (VALUES(1),(2),(3),(4),(5),(6),(7),(8),(9),(10)) AS a(a))
SELECT TOP(5000000)
ROW_NUMBER() OVER (ORDER BY a.a) AS OrderItemId
,a.a + b.a + c.a + d.a + e.a + f.a + g.a + h.a AS OrderId 
,a.a * 10 AS Price
,CONCAT(a.a, N' ', b.a, N' ', c.a, N' ', d.a, N' ', e.a, N' ', f.a, N' ', g.a, N' ', h.a) AS ProductName
INTO Table_with_5M_rows
FROM a, a AS b, a AS c, a AS d, a AS e, a AS f, a AS g, a AS h;" > CreateSampleTable.sql </code></pre>

   <P>Run the SQL script to create the new table in your database.</p>


{% if cliTool == 'mssql' %}
    <p>Connect to the database using sql-cli. </p>
    <pre class="command-line language-terminal" data-prompt="$"><code class="language-terminal">mssql -s localhost -u sa -p your_password -d SampleDB -T 60000 </code></pre>
    <p>Run the SQL script to create the table with 5 million rows. It may take a few minutes to generate 5,000,000 rows for this example :)</p>
    <pre class="command-line language-terminal" data-prompt="mssql>"><code class="language-terminal">.run ./CreateSampleTable.sql</code></pre>
{% else %}
<pre class="command-line language-terminal" data-output="8"  data-prompt="{{terminalprompt}}"><code class="language-terminal">{{cliReadFileCommand}} ./SqlServerColumnstoreSample/CreateSampleTable.sql</code></pre>
{% endif %}
                            <p>Create a new directory for your project and install pyodbc.</p>
                            <pre class="command-line" data-prompt="{{terminalprompt}}"><code class="language-terminal">cd ~/
mkdir SqlServerColumnstoreSample
cd SqlServerColumnstoreSample
virtualenv venv
{{virtualenvactivate}}
pip install pyodbc~=3.1.1
  
</code></pre>
                            <p>Using your favorite text editor, create a file called <b>columnstore.py</b> in the <i>SqlServerColumnstoreSample</i> folder. Copy and paste the below code inside it. Save and close the file. </p>
<pre><code class="language-python">import pyodbc 
import datetime
server = 'localhost' 
database = 'SampleDB' 
username = 'sa' 
password = 'your_password' 
cnxn = pyodbc.connect('DRIVER={{driver}};SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
tsql = "SELECT SUM(Price) as sum FROM Table_with_5M_rows"
a = datetime.now()
with cursor.execute(tsql):
  b = datetime.now()
  c = b - a
  for row in cursor:
    print ('Sum:', str(row[0]))
  print ('QueryTime:', c.microseconds, 'ms')
</code></pre>

<p>Run the file and monitor how long the query took to complete.</p> 
                            <pre data-output="2" class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python columnstore.py</code></pre> 
                            <pre><code class="language-results"> 
Sum: 50000000 
QueryTime: 363ms</code></pre>
                            <p>Now let's add a columnstore index to your table. </p>
                            <pre data-output="2" class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">{{cliQueryCommand}} "CREATE CLUSTERED COLUMNSTORE INDEX Columnstoreindex ON Table_with_5M_rows;"</code></pre>
                            <p>Re-run the columnstore.py script and notice how long the query took to complete this time.</p>
                            <pre data-output="2" class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python columnstore.py</code></pre>
                            <pre><code class="language-results"> 
Sum: 50000000  
QueryTime: 5ms</code></pre>
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> The performance of the query was greatly improved!  
                            <br>   Now that you've built a few Python apps with SQL Server, continue checking out other SQL Server features. </p>
                            </span>
    </div>
</li>
{% endmacro %}

<!--Python Section 3 for Windows-->
{% macro pythonColumnStoreWindows(terminalprompt, cliTool, cliReadFileCommand, cliQueryCommand, virtualenvactivate) %}
<li>
    <div class="step-item">
        <span>3</span>
    </div>
    <div class="step-body">
        <div class="step-header collapsible">
            <h3>Make your Python app up to <strong>100x faster</strong> using Columnstore <span class="expand-icon">+</span></h3>
            <p class="step-preview">Now that you have explored the basics, you are ready to see how you can make your app better with SQL Server. <span class="see-more">... <strong>See more</strong></span>
                <span class="preview-content">In this module we will show you a simple example of <a href="https://msdn.microsoft.com/en-us/library/gg492088.aspx">Columnstore Indexes </a> and how they can improve data processing speeds. <b>Columnstore Indexes</b> can achieve up to 100x better performance on analytical workloads and up to 10x better data compression than traditional rowstore indexes.</span>
            </p>
        </div>
        <span class="step-content">
                             {{macros.columnstoreSP1()}}   

                            <p>To showcase the capabilities of Columnstore Indexes, let's create a table with 5 million rows with {{cliTool}}. The following T-SQL code will create a table with 5,000,000 rows of random data. From your home directory, create a new SQL script using the below command.</p>
                            <p>In your home directory, create a folder for your project.</p>
<pre class="command-line" data-prompt=">"><code class="language-terminal">mkdir SqlServerColumnstoreSample
cd SqlServerColumnstoreSample</code></pre>
<p>Using your favorite text editor, create a new file called <b>CreateSampleTable.sql</b> in the folder <i>SqlServerColumnstoreSample</i>. Paste the T-SQL code below into your new SQL file. Save and close the file.  </p>
<pre><code class="language-SQL">WITH a AS (SELECT * FROM (VALUES(1),(2),(3),(4),(5),(6),(7),(8),(9),(10)) AS a(a))
SELECT TOP(5000000)
ROW_NUMBER() OVER (ORDER BY a.a) AS OrderItemId
,a.a + b.a + c.a + d.a + e.a + f.a + g.a + h.a AS OrderId 
,a.a * 10 AS Price
,CONCAT(a.a, N' ', b.a, N' ', c.a, N' ', d.a, N' ', e.a, N' ', f.a, N' ', g.a, N' ', h.a) AS ProductName
INTO Table_with_5M_rows
FROM a, a AS b, a AS c, a AS d, a AS e, a AS f, a AS g, a AS h;</code></pre>
<p>Run the SQL script to create the table with 5 million rows. This may take a few minutes to run.</p>
                            <pre class="command-line language-terminal" data-output="8" data-prompt="{{terminalprompt}}"><code class="language-terminal">{{cliReadFileCommand}} .\SqlServerColumnstoreSample\CreateSampleTable.sql</code></pre>
                            <p>Using your favorite text editor, create a file called <b>columnstore.py</b> in the <i>SqlServerColumnstoreSample</i> folder. Copy and paste the below code inside it. Save and close the file. </p>
<pre><code class="language-python">import pyodbc 
import datetime
server = 'localhost' 
database = 'SampleDB' 
username = 'sa' 
password = 'your_password' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

a = datetime.now()
with cursor.execute(tsql):
  b = datetime.now()
  c = b - a
  for row in cursor:
    print 'Sum:', str(row[0])
  print 'QueryTime:', c.microseconds, 'ms'
</code></pre>
                            <p>Install the <a href="https://www.microsoft.com/en-us/download/details.aspx?id=50420">ODBC Driver for SQL Server.</a> Skip this step if you have already installed it.</p>

                            <p>Activate Virutalenv to create a virtual environment for this package and install pyodbc.</p>
                            <pre class="command-line" data-prompt="{{terminalprompt}}"><code class="language-terminal">
virtualenv venv
{{virtualenvactivate}}
pip install pyodbc~=3.1.1
  
</code></pre>

<p>Run the file and monitor how long the query took to complete.</p> 
                            <pre data-output="2" class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python columnstore.py</code></pre> 
                            <pre><code class="language-results"> 
Sum: 50000000 
QueryTime: 363ms</code></pre>
                            <p>Now let's add a columnstore index to your table. </p>
                            <pre data-output="2" class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">{{cliQueryCommand}} "CREATE CLUSTERED COLUMNSTORE INDEX Columnstoreindex ON Table_with_5M_rows;"</code></pre>
                            <p>Re-run the columnstore.py script and notice how long the query took to complete this time.</p>
                            <pre data-output="2" class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python columnstore.py</code></pre>
                            <pre><code class="language-results"> 
Sum: 50000000  
QueryTime: 5ms</code></pre>
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> The performance of the query was greatly improved!  
                            <br>   Now that you've built a few Python apps with SQL Server, continue checking out other SQL Server features. </p>
                            </span>
    </div>
</li>
{% endmacro %}


<!--Python CRUD and Setting up Django App with SQL Server-->
{% macro pythonApps(driver, platform, terminalprompt, cliTool, cliQueryCommand, virtualenvactivate,settingpyoptions) %}
<li>
        <div class="step-item">
            <span>2</span>
        </div>
        <div class="step-body">
            <div tabindex="2" class="step-header collapsible">
                <h3>Create your first Python application with SQL Server <span class="expand-icon">+</span></h3>
                <p class="step-preview">After getting SQL Server and Python on your {{platform}}, you can now proceed to create your new Python apps. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">Here we will explore two simple applications. One of them will perform basic Insert, Update, Delete, and Select operations, while the second one will make use of <a href="https://www.djangoproject.com/">Django</a>, one of the most popular Python web frameworks.</span></p>
            </div>
            <span class="step-content">
                            <h4>Create a Python app that connects to SQL Server and executes queries</h4>
                            <p>Using Virtualenv enables you to create a virutal environment to isolate your application between your environments. In your directory, create a new project folder and install pyodbc. Note: Make sure you install the pre-requisites from step 1(Python, Developement Tools, and the Microsoft ODBC Driver) </p>
                            <pre class="command-line" data-prompt="{{terminalprompt}}"><code class="language-terminal">mkdir SqlServerSample
cd SqlServerSample
virtualenv venv
{{virtualenvactivate}}
pip install pyodbc~=3.1.1
  
</code></pre>
                            <p>Create a database that will be used for the rest of this tutorial. </p>
                            <p>Connect to SQL Server using {{cliTool}} and execute the following statement to create a database.</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">{{cliQueryCommand}} "CREATE DATABASE SampleDB;"</code></pre>
                            
                            <p>Using {{cliTool}} execute the following statements to create a table and insert some rows.</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">{{cliQueryCommand}} "USE DATABASE SampleDB; CREATE TABLE Employees (Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY, Name NVARCHAR(50), Location NVARCHAR(50));"
{{cliQueryCommand}} "USE DATABASE SampleDB; INSERT INTO Employees (Name, Location) VALUES (N'Jared', N'Australia'), (N'Nikita', N'India'), (N'Tom', N'Germany');"</code></pre>
                            <p>Using your favorite text editor, create a new file called <b>crud.py</b> in the <i>SqlServerSample</i> folder. Copy and paste the following code inside it. This will <a href="https://msdn.microsoft.com/en-us/library/ms174335.aspx">insert</a>, <a href="https://msdn.microsoft.com/en-us/library/ms177523.aspx">update</a>, <a href="https://msdn.microsoft.com/en-us/library/ms189835.aspx">delete</a>, and <a href="https://msdn.microsoft.com/en-us/library/ms189499.aspx">read</a> a few rows. Don't forget to update the username and password with your own. Save and close the file.</p>

<pre><code class="language-python">import pyodbc 
server = 'localhost' 
database = 'SampleDB' 
username = 'sa' 
password = 'your_password' 
cnxn = pyodbc.connect('DRIVER={{driver}};SERVER='+server+';PORT=1443;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

print ('Inserting a new row into table')
#Insert Query
tsql = "INSERT INTO Employees (Name, Location) VALUES (?,?);"
with cursor.execute(tsql,'Jake','United States'):
    print ('Successfuly Inserted!')


#Update Query
print ('Updating Location for Nikita')
tsql = "UPDATE Employees SET Location = ? WHERE Name = ?"
with cursor.execute(tsql,'Sweden','Nikita'):
    print ('Successfuly Updated!')


#Delete Query
print ('Deleting user Jared')
tsql = "DELETE FROM Employees WHERE Name = ?"
with cursor.execute(tsql,'Jared'):
    print ('Successfuly Deleted!')


#Select Query
print ('Reading data from table')
tsql = "SELECT Name, Location FROM Employees;"
with cursor.execute(tsql):
    row = cursor.fetchone()
    while row:
        print (str(row[0]) + " " + str(row[1]))
        row = cursor.fetchone()</code></pre>

<p>Run the application.</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python crud.py</code></pre> 
                            <pre data-output="0-100" class="language-results" data-prompt="{{terminalprompt}}"><code class="language-results">Inserting a new row into table
Successfuly Inserted!
Updating Location for Nikita
Successfuly Updated!
Deleting user Jared
Successfuly Deleted!
Reading data from table
Jake United States</code></pre>
<p>Exit the virtual environment by typing the following command in the console.</p>
                            <pre class="command-line" data-prompt="{{terminalprompt}}"><code class="language-terminal">deactivate</code></pre>
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You created your first Python + SQL Server app! Check out the next section to configure a Django app to use SQL Server.</p>

                            <h4>Configure a Python Django app that connects to SQL Server</h3>
                            <p>In this section we will cover how you can configure a Django application to use SQL Server. We will be using an exisiting Bootcamp project to demonstrate this. Bootcamp is an open source enterprise social network built with Python using the Django Web Framework. <a href="https://github.com/vitorfs/bootcamp">Click here to learn more about the Bootcamp example.</a></p>

                            <p>1. Download the <a href="https://deve2e.azureedge.net/sqlchoice/DjangoBootcampExample.zip">Django Bootcamp Sample</a> and unzip its content into a folder called <b>DjangoBootcampExample</b> and change into the new project directory.</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">cd DjangoBootcampExample</code></pre>
                            <p>2. Using your favorite text editor, update the existing <b>settings.py</b> file inside the <i>DjangoBootcampExample\bootcamp</i> folder. Update it with your database information. Save and close the file.</p>                            
                            <pre><code class="language-python">DATABASES = {
    'default': {
         'ENGINE': 'sql_server.pyodbc',
         'NAME': 'SampleDB',
         'USER': 'sa',
         'PASSWORD': 'your_password',
         'HOST': 'localhost',
         'PORT': '1433',
         'OPTIONS': {
            {{settingpyoptions}},
         },
     },
}</code></pre>
                                
                               <p> 3. Activate Virutalenv to create a virtual environment for this package and install the requirements that come with the package</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">virtualenv venv
{{virtualenvactivate}}
pip install -r requirements.txt</code></pre>
                            <p>4. Run a migration</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python manage.py migrate</code></pre>
                            <p>5. Run the application</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python manage.py runserver</code></pre>
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> Congrats you just created a Python app and set up a Python application with your SQL Server! Check out the next section to learn about how you can <b>make your Python apps shine with SQL Server's Columnstore feature. </b></p>
                            </span>
        </div>
    </li>        
{% endmacro %}



{% macro pythonAppsWindows(driver, platform, terminalprompt, cliTool, cliQueryCommand, virtualenvactivate,settingpyoptions) %}
<li>
        <div class="step-item">
            <span>2</span>
        </div>
        <div class="step-body">
            <div tabindex="2" class="step-header collapsible">
                <h3>Create your first Python application with SQL Server <span class="expand-icon">+</span></h3>
                <p class="step-preview">After getting SQL Server and Python on your {{platform}}, you can now proceed to create your new Python apps. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">Here we will explore two simple applications. One of them will perform basic Insert, Update, Delete, and Select operations, while the second one will make use of <a href="https://www.djangoproject.com/">Django</a>, one of the most popular Python web frameworks.</span></p>
            </div>
            <span class="step-content">
                            <h4>Create a Python app that connects to SQL Server and executes queries</h4>
                            <p>Before installing pyodbc you need to install the <a href="https://www.microsoft.com/en-us/download/details.aspx?id=50420">ODBC Driver for SQL Server.</a> Skip this step if you have already installed it.</p>
                            <p>Using Virtualenv enables you to create a virutal environment to isolate your application between your environments. In your directory, create a new project folder and install pyodbc.</p>
                            <pre class="command-line" data-prompt="{{terminalprompt}}"><code class="language-terminal">mkdir SqlServerSample
cd SqlServerSample
virtualenv venv
{{virtualenvactivate}}
pip install pyodbc~=3.1.1
  
</code></pre>
                            <p>Create a database that will be used for the rest of this tutorial. </p>
                            <p>Connect to SQL Server using {{cliTool}} and execute the following statement.</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">{{cliQueryCommand}} "CREATE DATABASE SampleDB;"
{{cliQueryCommand}} -d SampleDB "CREATE TABLE Employees;"
{{cliQueryCommand}} -d SampleDB "INSERT INTO Employees (Name, Location) VALUES (N'Jared', N'Australia'), (N'Nikita', N'India'), (N'Tom', N'Germany');"</code></pre>
                            <p>Using your favorite text editor, create a new file called <b>crud.py</b> in the <i>SqlServerSample</i> folder. Copy and paste the following code inside it. This will <a href="https://msdn.microsoft.com/en-us/library/ms174335.aspx">insert</a>, <a href="https://msdn.microsoft.com/en-us/library/ms177523.aspx">update</a>, <a href="https://msdn.microsoft.com/en-us/library/ms189835.aspx">delete</a>, and <a href="https://msdn.microsoft.com/en-us/library/ms189499.aspx">read</a> a few rows. Don't forget to update the username and password with your own. Save and close the file.</p>

<pre><code class="language-python">import pyodbc 
server = 'localhost' 
database = 'SampleDB' 
username = 'sa' 
password = 'your_password' 
cnxn = pyodbc.connect('DRIVER={{driver}};SERVER='+server+';PORT=1443;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

print ('Inserting a new row into table')
#Insert Query
tsql = "INSERT INTO Employees (Name, Location) VALUES (?,?);"
with cursor.execute(tsql,'Jake','United States'):
    print ('Successfuly Inserted!')



#Update Query
print ('Updating Location for Nikita')

tsql = "UPDATE Employees SET Location = ? WHERE Name = ?"
with cursor.execute(tsql,'Sweden','Nikita'):
    print ('Successfuly Updated!')


#Delete Query
print ('Deleting user Jared')
tsql = "DELETE FROM Employees WHERE Name = ?"
with cursor.execute(tsql,'Jared'):
    print ('Successfuly Deleted!')


#Select Query
print ('Reading data from table')
tsql = "SELECT Name, Location FROM Employees;"
with cursor.execute(tsql):
    for row in cursor:
        print (str(row[0]) + " " + str(row[1]))
</code></pre>

<p>Run the application.</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python crud.py</code></pre> 
                            <pre data-output="0-100" class="language-results" data-prompt="{{terminalprompt}}"><code class="language-results">Inserting a new row into table
Successfuly Inserted!
Updating Location for Nikita
Successfuly Updated!
Deleting user Jared
Successfuly Deleted!
Reading data from table
Jake United States</code></pre>
<p>Exit the virtual environment by typing the following command in the console.</p>
                            <pre class="command-line" data-prompt="{{terminalprompt}}"><code class="language-terminal">deactivate</code></pre>
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You created your first Python + SQL Server app! Check out the next section to configure a Django app to use SQL Server.</p>

                            <h4>Configure a Python Django app that connects to SQL Server</h3>
                            <p>In this section we will cover how you can configure a Django application to use SQL Server. We will be using an exisiting Bootcamp project to demonstrate this. Bootcamp is an open source enterprise social network built with Python using the Django Web Framework. <a href="https://github.com/vitorfs/bootcamp">Click here to learn more about the Bootcamp example.</a></p>

                            <p>1. Download the <a href="https://deve2e.azureedge.net/sqlchoice/DjangoBootcampExample.zip">Django Bootcamp Sample</a> and unzip its content into a folder called <b>DjangoBootcampExample</b> and change into the new project directory.</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">cd DjangoBootcampExample</code></pre>
                            <p>2. Using your favorite text editor, update the existing <b>settings.py</b> file inside the <i>DjangoBootcampExample\bootcamp</i> folder. Update it with your database information. Save and close the file.</p>                            
                            <pre><code class="language-python">DATABASES = {
    'default': {
         'ENGINE': 'sql_server.pyodbc',
         'NAME': 'SampleDB',
         'USER': 'sa',
         'PASSWORD': 'your_password',
         'HOST': 'localhost',
         'PORT': '1433',
         'OPTIONS': {
            {{settingpyoptions}},
         },
     },
}</code></pre>
                                
                               <p> 3. Activate Virutalenv to create a virtual environment for this package and install the requirements that come with the package</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">virtualenv venv
{{virtualenvactivate}}
pip install -r requirements.txt</code></pre>
                            <p>4. Run a migration</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python manage.py migrate</code></pre>
                            <p>5. Run the application</p>
                            <pre class="command-line language-terminal" data-prompt="{{terminalprompt}}"><code class="language-terminal">python manage.py runserver</code></pre>
                            <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> Congrats you just created a Python app and set up a Python application with your SQL Server! Check out the next section to learn about how you can <b>make your Python apps shine with SQL Server's Columnstore feature. </b></p>
                            </span>
        </div>
    </li>        
{% endmacro %}

