{% extends "baseR.html" %}
{% import "macros.html" as macros %}
{% import "codemacros.html" as codemacros %}
{% block tutorialcontent %}

<h2>Create a predictive model in SQL Server R Services</h2>
                <div style="text-align: center;">
                    <div style="display: inline-block; text-align: left">
                        <p>Predictive modeling is a powerful way to add intelligence to your application. It enables applications to predict outcomes against new data.</p>
                        <p>The act of incorporating predictive analytics into your applications involves two major phases: 
                        <br /><b>model training</b> and <b>model operationalization</b>
                        </p>
                        <p>In this tutorial, you will learn how to create a predictive model in R and operationalize it with SQL Server 2016.</p>
                        <p>You can copy code as you follow the tutorial. All code is also available on <a href="https://github.com/Microsoft/sql-server-samples/tree/master/samples/features/r-services/getting-started/predictive-modeling"><strong>github</strong></a>.</p>
</div>
                </div>
                <ol>
    <li>
        <div class="step-item">
            <span>1</span>
        </div>
        <div class="step-body">
            <div class="step-header collapsible">
                <h3>Set up your environment <span class="expand-icon">+</span></h3>
                <p class="step-preview">In this section you will download and install the necessary tools. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">After that you will start creating a predictive model with R.</span></p>
            </div>
            <span class="step-content">
                <!--install SQL Server on Windows-->
                {{macros.installSQLServeronWindows()}}
                <h4>Activate R Services</h4>
                <p>There are a couple of additional steps during the SQL Server setup to activate SQL Server R services. Follow the <b>Step 1</b> <a href="https://msdn.microsoft.com/en-us/library/mt696069.aspx">in this guide</a> to activate R Services.</p>
                                                
                <h4>Install SQL Server Management Studio (SSMS)</h4>
                <p><a href="https://msdn.microsoft.com/en-us/library/mt238290.aspx">Download and install</a> SSMS.</p>

                <h4>Configure R Services</h4>
                <p>Run SSMS and open a new query window. Execute the script below to enable your instance to run R scripts in SQL Server.</p>
                <pre><code class="language-SQL">
EXEC sp_configure 'external scripts enabled', 1;
RECONFIGURE WITH OVERRIDE;</code></pre>

                <p><strong>Don't forget to restart your SQL Server Instance after the configuration!</strong> You can restart in SSMS by right clicking on the instance name in the Object Explorer and choose Restart</p>
                <p><i>Optional: If you want, you can also <a href="https://github.com/Microsoft/sql-server-samples/tree/master/samples/features/r-services/SSMS-Custom-Reports">download SSMS custom reports</a> available on github. The report "R Services - Configuration.rdl" for example provides an overview of the R runtime parameters and gives you an option to configure your instance with a button click.
                To import a report in SSMS, right click on Server Objects in the SSMS Object Explorer and choose Reports -> Custom reports. Upload the .rdl file.</i></p>

                <h4>Install and configure your R development environment</h4>
                <p>You need to install an R IDE. Here you have some suggestions:</p>
                <p>R Tools for Visual Studio (RTVS) <a href="https://www.visualstudio.com/vs/rtvs/">Download</a></p>
                <p>RStudio <a href="https://www.rstudio.com">Download</a></p>

                <p></p>
                <p>To be able to use some of the functions in this tutorial, you need to configure your R IDE to point to Microsoft R Client, which is an R Runtime provided by Microsoft. This runtime contains MS R Open packages.</p>
                <p>Follow the steps 1 and 2 <a href="https://msdn.microsoft.com/en-us/microsoft-r/r-client-get-started#configure-ide">here</a> to install R client and configure your R IDE tool.</p>

                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> Terrific, now your SQL Server 2016 is able to host and run R code and you have the necessary development tools installed and configured! The next section will walk you through creating a predictive model using R.</p>
    </li>
    <!-- Predictive Model in R -->
    <li>
        <div class="step-item">
            <span>2</span>
        </div>
        <div class="step-body">
            <div class="step-header collapsible">
                <h3><strong>Train</strong> your predictive model in R <span class="expand-icon">+</span></h3>
                <p class="step-preview">
                    R is a programming language that makes statistical and math computation easy, and is very useful for any machine learning/predictive analytics/statistics work.
                    There are lots of tutorials out there on R. This is one example of a <a href="https://www.tutorialspoint.com/r/">tutorial</a> to learn more about R.<br /><br />
                    
                    In this specific scenario, we own a ski rental business, and we want to predict the number of rentals that
                    we will have on a future date. This information will help us to get ready from a stock, staff and facilities perspective.
                    <span class="see-more">... <strong>See more</strong></span><span class="preview-content">Before we go into how you can use R inside SQL Server 2016, we will look at the scenario in R.</span>
                </p>
            </div>
            <span class="step-content">

                <p>During <b>model training</b>, you create and train a predictive model by showing it sample data along with the outcomes. Then you save this model so that you can use it later when you want to make predictions against new data.</p>

                <h4>Load the data</h4>
                <p>
                    The dataset used in this tutorial is hosted in a SQL Server table.
                    The table contains rental data from previous years.
                </p>
                <p>
                    Download the backup (.bak) file <a href="https://deve2e.azureedge.net/sqlchoice/static/TutorialDB.bak"><strong>here</strong></a>, and save it on a location that SQL Server can access.
                    For example in the folder where SQL Server is installed.
                    <br />Sample path: C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\Backup
                </p>
                <p>
                    Once you have the file saved, open SSMS and a new query window to run the following commands.
                    Make sure to modify the file paths in the script.
                </p>

                <pre><code class="language-SQL">
-- Before we start, we need to restore the DB for this tutorial. 
-- Step1: Download the compressed backup file
--Save the file on a location where SQL Server can access it. For example: C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\Backup\
-- In a new query window in SSMS, execute the following restore statement, but REMEMBER TO CHANGE THE FILE PATHS 
-- to match the directories of your installation!
USE master;  
GO  
RESTORE DATABASE TutorialDB  
   FROM DISK = 'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\Backup\TutorialDB.bak'
   WITH 
                MOVE 'TutorialDB' TO 'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TutorialDB.mdf'
                ,MOVE 'TutorialDB_log' TO 'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TutorialDB.ldf';  
GO  
</code></pre>

                <p>
                    You should now be able to see the table rental_data in the Object Explorer to the left in SSMS.
                </p>
                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/RLANG_Table_Rentaldata_Exists.JPG" alt="Table containg rental data in SQL Server"></p>

                <p>
                    A table named rental_data containing the dataset should exist in the restored SQL Server database.
                    You can verify this by querying the table in SSMS.
                </p>

                <pre><code class="language-SQL">
USE tutorialdb;
SELECT * FROM [dbo].[rental_data];
                                </code></pre>

                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/RLANG_Rental_Data_Table.JPG" alt="Selection results from table rental_data"></p>

                <h4>Load and explore the data with R</h4>
                <p>
                    Loading data from SQL Server to R is easy. So let's try it out.
                    Open a new RScript in your R development tool and run the following script.
                    Don't forget to replace "MyServer" with the name of your database instance.
                </p>

                <pre><code class="language-R">
#Connection string to connect to SQL Server
connStr <- paste("Driver=SQL Server; Server=", "MyServer",
                 ";Database=", "tutorialdb", ";Trusted_Connection=true;", sep = "");

#Get the data from SQL Server Table
SQL_rentaldata <- RxSqlServerData(table = "dbo.rental_data",
                              connectionString = connStr, returnDataFrame = TRUE);

#Import the data into a data frame
rentaldata <- rxImport(SQL_rentaldata);

#Let's see the structure of the data and the top rows
head(rentaldata);
str(rentaldata);
                                </code></pre>


                <pre><code class="language-results">
                                         Rows Read: 453, Total Rows Processed: 453, Total Chunk Time: 0.015 seconds 
  Year Month Day RentalCount WeekDay Holiday Snow
1 2014     1  20         445       2       1    0
2 2014     2  13          40       5       0    0
3 2013     3  10         456       1       0    0
4 2014     3  31          38       2       0    0
5 2014     4  24          23       5       0    0
6 2015     2  11          42       4       0    0
'data.frame':       453 obs. of  7 variables:
$ Year       : int  2014 2014 2013 2014 2014 2015 2013 2014 2013 2015 ...
$ Month      : num  1 2 3 3 4 2 4 3 4 3 ...
$ Day        : num  20 13 10 31 24 11 28 8 5 29 ...
$ RentalCount: num  445 40 456 38 23 42 310 240 22 360 ...
$ WeekDay    : num  2 5 1 2 5 4 1 7 6 1 ...
$ Holiday    : int  1 0 0 0 0 0 0 0 0 0 ...
$ Snow       : num  0 0 0 0 0 0 0 0 0 0 ...
                                </code></pre>

                <h4>Prepare the data</h4>
                <p>
                    Often times, the data needs to be prepared and cleaned before we start calling the functions. In this tutorial, most of the preparations have already been done.
                    We are just going to change the type of 3 columns to factors.
=                </p>
                <pre><code class="language-R">
#Changing the three factor columns to factor types
#This helps when building the model because we are explicitly saying that these values are categorical
rentaldata$Holiday <- factor(rentaldata$Holiday);
rentaldata$Snow <- factor(rentaldata$Snow);
rentaldata$WeekDay <- factor(rentaldata$WeekDay);

#Visualize the dataset after the change
str(rentaldata);
                                </code></pre>


                <pre><code class="language-results">
'data.frame':      453 obs. of  7 variables:
$ Year       : int  2014 2014 2013 2014 2014 2015 2013 2014 2013 2015 ...
$ Month      : num  1 2 3 3 4 2 4 3 4 3 ...
$ Day        : num  20 13 10 31 24 11 28 8 5 29 ...
$ RentalCount: num  445 40 456 38 23 42 310 240 22 360 ...
$ WeekDay    : Factor w/ 7 levels "1","2","3","4",..: 2 5 1 2 5 4 1 7 6 1 ...
$ Holiday    : Factor w/ 2 levels "0","1": 2 1 1 1 1 1 1 1 1 1 ...
$ Snow       : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
                                </code></pre>

                <h4>Train the model</h4>
                <p>In order to predict, we have to first find a function (model) that best describes the dependency between the variables in our dataset. This step is called training the model. The training dataset will be a subset of the entire dataset.</p>
                <p>We are going to create two different models and see which one is predicting more accurately.</p>
                <pre><code class="language-R">
#Now let's split the dataset into 2 different sets
#One set for training the model and the other for validating it
train_data = rentaldata[rentaldata$Year < 2015,];
test_data = rentaldata[rentaldata$Year == 2015,];

#Use this column to check the quality of the prediction against actual values 
actual_counts <- test_data$RentalCount;

#Model 1: Use rxLinMod to create a linear regression model. We are training the data using the training data set
model_linmod <- rxLinMod(RentalCount ~ Month + Day + WeekDay + Snow + Holiday, data = train_data);

#Model 2: Use rxDTree to create a decision tree model. We are training the data using the training data set
model_dtree <- rxDTree(RentalCount ~ Month + Day + WeekDay + Snow + Holiday, data = train_data);
                                </code></pre>
                <p>Now we have trained and created two different models! Let's use them to predict and see which model is the most accurate.</p>

                <h4>Prediction</h4>
                <p>We are now going to use a predict function to predict the Rental Counts using our two models. Finding the right type of model for a specific problem requires some experimentation. This <a href="https://azure.microsoft.com/en-us/documentation/articles/machine-learning-algorithm-choice/#the-machine-learning-algorithm-cheat-sheet">cheat sheet</a> can be nice to have as a guide.</p>
                <pre><code class="language-R">
#Use the models we just created to predict using the test data set. 
#That enables us to compare actual values of RentalCount from the two models and compare to the actual values in the test data set
predict_linmod <- rxPredict(model_linmod, test_data, writeModelVars = TRUE);

predict_dtree <- rxPredict(model_dtree, test_data, writeModelVars = TRUE);

#Look at the top rows of the two prediction data sets. 
head(predict_linmod);
head(predict_dtree);
                                </code></pre>
                <pre><code class="language-results">
  RentalCount_Pred RentalCount Month Day WeekDay Snow Holiday
1         27.45858          42     2  11       4    0       0
2        387.29344         360     3  29       1    0       0
3         16.37349          20     4  22       4    0       0
4         31.07058          42     3   6       6    0       0
5        463.97263         405     2  28       7    1       0
6        102.21695          38     1  12       2    1       0
  RentalCount_Pred RentalCount Month Day WeekDay Snow Holiday
1          40.0000          42     2  11       4    0       0
2         332.5714         360     3  29       1    0       0
3          27.7500          20     4  22       4    0       0
4          34.2500          42     3   6       6    0       0
5         645.7059         405     2  28       7    1       0
6          40.0000          38     1  12       2    1       0
</code></pre>

                <h4>Compare results</h4>

                <p>
                    Now let's see which of the models gives the best predictions. To be able to find out, we are going to plot the difference between the predicted and actual values.
                    R is a great language for quickly and easily visualizing data. We are going to use a basic plotting function to plot 2 graphs.
                </p>

                <pre><code class="language-R">
#Now we will use the plotting functionality in R to viusalize the results from the predictions 
#We are plotting the difference between actual and predicted values for both models to compare accuracy
par(mfrow = c(2, 1));
plot(predict_linmod$RentalCount_Pred - predict_linmod$RentalCount, main = "Difference between actual and predicted. rxLinmod");
plot(predict_dtree$RentalCount_Pred - predict_dtree$RentalCount, main = "Difference between actual and predicted. rxDTree");
                                </code></pre>
                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/RLANG_CompareModels.JPG" alt="Comparing the two models"></p>

                <p>
                    It looks like the decision tree model is more accurate. We have a quite accurate predictor and we feel confident to use it to predict
                    what is going to happen on a given situation in the future. Let us now deploy our R code by moving it to SQL Server and make this model available for our applications inside a SQL Server stored procedure.
                </p>
                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You have created your first predictive model! Check out the next section to operationalize this R code in SQL Server.</p>
            </span>
        </div>
    </li>
    <!-- END R section -->
    <!-- START Deploy in SQL Server-->
    <li>
        <div class="step-item">
            <span>3</span>
        </div>
        <div class="step-body">
            <div class="step-header collapsible">
                <h3><strong>Operationalize</strong> your predicitve model with SQL Server R Services<span class="expand-icon">+</span></h3>
                <p class="step-preview">To operationalize a model, you store the model in a hosting environment (like a database) and implement a prediction function that uses the model to predict.  That function can be called from applications.</p> <span class="see-more">... <strong>See more</strong></span>
                <span class="preview-content">In this module we will move the R code we just wrote to SQL Server and deploy our predictive model with the help of SQL Server R Services.</span></p>
            </div>
            <span class="step-content">



                <p>
                    SQL Server R Services enables you to train and test predictive models in the context of SQL Server 2016. You author T-SQL programs that contain embedded R scripts, and the SQL Server database engine takes care of the execution. Because it executes in SQL Server, your models can easily be trained against data stored in the database.
                    To operationalize, you store your model in the database and create a stored procedure that predicts using the model.
                </p>


                <h4>Create a table to store the model</h4>
                <p>
                    In order to operationalize our predictive model, we need to store it in a table in the database. Let's create a table for storing models.
                    Open SSMS and execute the following T-SQL code:
                </p>
                <pre><code class="language-SQL">
USE tutorialdb;
GO
-- Setup model table
DROP TABLE IF EXISTS rental_rx_models;
GO
CREATE TABLE rental_rx_models (
                model_name VARCHAR(30) NOT NULL DEFAULT('default model') PRIMARY KEY,
                model VARBINARY(MAX) NOT NULL
);
GO
                                </code></pre>

                <h4>Create stored procedure for generating the decision tree model</h4>

                <p>
                    We are now going to create a stored procedure in SQL Server to use the R code we wrote in the previous module and generate the rxDTree model inside the database.
                    The R code will be embedded in the TSQL statement.
                </p>

                <pre><code class="language-SQL">
-- Stored procedure that trains and generates a model using the rental_data and a decision tree algorithm
DROP PROCEDURE IF EXISTS generate_rental_rx_model;
go
CREATE PROCEDURE generate_rental_rx_model (@trained_model varbinary(max) OUTPUT)
AS
BEGIN
    EXECUTE sp_execute_external_script
      @language = N'R'
    , @script = N'
        require("RevoScaleR");
        
        rental_train_data$Holiday = factor(rental_train_data$Holiday);
            rental_train_data$Snow = factor(rental_train_data$Snow);
            rental_train_data$WeekDay = factor(rental_train_data$WeekDay);

        #Create a dtree model and train it using the training data set
        model_dtree <- rxDTree(RentalCount ~ Month + Day + WeekDay + Snow + Holiday, data = rental_train_data);
        #Before saving the model to the DB table, we need to serialize it
        trained_model <- as.raw(serialize(model_dtree, connection=NULL));'

    , @input_data_1 = N'select "RentalCount", "Month", "Day", "WeekDay", "Snow", "Holiday" from dbo.rental_data where Year < 2015'
    , @input_data_1_name = N'rental_train_data'
    , @params = N'@trained_model varbinary(max) OUTPUT'
    , @trained_model = @trained_model OUTPUT;
END;
GO
TRUNCATE TABLE rental_rx_models;
--Script to call the stored procedure that generates the rxDTree model and save the model in a table in SQL Server
DECLARE @model VARBINARY(MAX);
EXEC generate_rental_rx_model @model OUTPUT;
INSERT INTO rental_rx_models (model_name, model) VALUES('rxDTree', @model);
SELECT * FROM rental_rx_models;
GO
                                </code></pre>

                <p>The model is now saved in the database as a binary object. This is what the model looks like in our table:</p>

                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/RLANG_model_in_DB.JPG" alt="Model in DB"></p>

                <h4>Create stored procedure for predicting the RentalCount</h4>

                <p>
                   We are now very close to operationalizing our predicting model so that we can consume it from our applications.
                    This last step includes creating a stored procedure that uses our model to predict the rental count for new data.
                </p>

                <pre><code class="language-SQL">
--Stored procedure that takes model name and new data as inout parameters and predicts the rental count for the new data
DROP PROCEDURE IF EXISTS predict_rentals;
GO
CREATE PROCEDURE predict_rentals (@model VARCHAR(100),@q NVARCHAR(MAX))
AS
BEGIN
    DECLARE @rx_model VARBINARY(MAX) = (SELECT model FROM rental_rx_models WHERE model_name = @model);
    EXECUTE sp_execute_external_script 
        @language = N'R'
        , @script = N'
            require("RevoScaleR");

            #The InputDataSet contains the new data passed to this stored proc. We will use this data to predict.
            rentals = InputDataSet;
            
        #Convert types to factors
            rentals$Holiday = factor(rentals$Holiday);
            rentals$Snow = factor(rentals$Snow);
            rentals$WeekDay = factor(rentals$WeekDay);

            #Before using the model to predict, we need to unserialize it
            rental_model = unserialize(rx_model);

            #Call prediction function
            rental_predictions = rxPredict(rental_model, rentals);'
                , @input_data_1 = @q
        , @output_data_1_name = N'rental_predictions'
                , @params = N'@rx_model varbinary(max)'
                , @rx_model = @rx_model
                WITH RESULT SETS (("RentalCount_Predicted" FLOAT));
   
END;
GO

--Execute the predict_rentals stored proc and pass the modelname and a query string with a set of features we want to use to predict the rental count
EXEC dbo.predict_rentals @model = 'rxDTree',
       @q ='SELECT CONVERT(INT, 3) AS Month, CONVERT(INT, 24) AS Day, CONVERT(INT, 4) AS WeekDay, CONVERT(INT, 1) AS Snow, CONVERT(INT, 1) AS Holiday';
GO

                                </code></pre>
                <p>This is what we see if we execute the stored procedure with new data directly from SSMS</p>

                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/RLANG_predicted_result.JPG" alt="Predicted result"></p>


                <p>
                    <img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> Now you have made your predictive model accessible to your applications.
                    <br>All you need to do now is to call the predict stored procedure from you app and make your app intelligent!
                </p>
            </span>

            <p>If you found this sample helpful, make sure to check out the <a href="https://www.microsoft.com/en-us/sql-server/developer-get-started/rclustering"><strong>customer clustering sample</strong></a></p>
        </div>
    </li>
    <!-- END -->



    <li>
        <div class="step-body">
            {{macros.RlangCTA()}}
            <p></p>
        </div>
    </li>
    <li>
        <div class="step-item-tools">
        </div>
        <div class="step-body">
            {{macros.feedback()}}
        </div>
    </li>
</ol>
{{codemacros.discus()}}

{% endblock %}

