{% extends "base.html" %}
{% import "macros.html" as macros %}
{% import "codemacros.html" as codemacros %}
  
{% block tutorialcontent %}


 <h2>Create Ruby apps using SQL Server on Ubuntu</h2>
                {{macros.introSentence("Ruby","Ubuntu 16.04 machine")}}
                <ol>
                    <li>
                        <div class="step-item">
                            <span>1</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="1" class="step-header collapsible">
                                <h3>Set up your environment <span class="expand-icon">+</span></h3>
                                <p class="step-preview">In this section you will get SQL Server vNext running on your Ubuntu machine. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">After that you will install the necessary dependencies to run Ruby.</span></p>
                            </div>
                            <span class="step-content">
                                {{macros.installSQLServerOnUbuntu()}}
                                <h4>Install prerequisites for Ruby</h4>
                                <p>Use the following commands to install prerequisites for Ruby.</p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">sudo apt-get update
sudo apt-get install autoconf bison build-essential libssl-dev libyaml-dev libreadline6-dev zlib1g-dev libncurses5-dev libffi-dev libgdbm3 libgdbm-dev
sudo apt-get install git
</code></pre>

                                <h4>Install rbenv and ruby-build</h4>
                                <p>If you already have rbenv and ruby-build installed on your machine, skip this step. Use the following commands to install prerequisites for Ruby.</p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">cd
git clone https://github.com/rbenv/rbenv.git ~/.rbenv
echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
echo 'eval "$(rbenv init -)"' >> ~/.bashrc
exec $SHELL

git clone https://github.com/rbenv/ruby-build.git ~/.rbenv/plugins/ruby-build
echo 'export PATH="$HOME/.rbenv/plugins/ruby-build/bin:$PATH"' >> ~/.bashrc
exec $SHELL</code></pre>
                                <h4>Install Ruby</h4>
                                <p>Use the following commands to install prerequisites for Ruby.</p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">rbenv install 2.3.1
rbenv global 2.3.1
ruby -v</code></pre>
                                <h4>Install FreeTDS</h4>
                                <p>FreeTDS is a driver that enables you to connect to SQL Server. It is a prerequisite for the connector you'll get later in the tutorial to connect to SQL Server. Run the following commands to install FreeTDS:</p>
                                <pre class="command-line" data-prompt="$"><code class="language-terminal">wget ftp://ftp.freetds.org/pub/freetds/stable/freetds-1.00.27.tar.gz
tar -xzf freetds-1.00.27.tar.gz
cd freetds-1.00.27
./configure --prefix=/usr/local --with-tdsver=7.3
make
make install</code></pre>
                              
                                <p><img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;"> You now have Ruby installed! The next section will walk you through getting the tools to interact with your database.</p>
                                
                                {{macros.installSqlcmdUbuntu()}}
                                
                                 <p>Great! You just installed SQL Server on Ubuntu and ran your first query against it :-)
                                <br/>Now exit sqlcmd by pressing 
                                <b> CTRL + C</b>
                            </p>
                            <p>
                                <img src="https://deve2e.azureedge.net/sqlchoice/static/images/completeStar.png" alt="goldstar" style="width:25px;height:25px;">You can now interact with the database with queries using this CLI tool! This is great for short queries and small returned result sets. To work with larger result sets, check out the
                                    <a href="#resources"> mssql extension for VS Code!</a>
                                </p>
                            </span>
                        </div>
                    </li>
                    <!-- START this section is for Ruby SQL CRUD -->
                    <li>
                        <div class="step-item">
                            <span>2</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="2" class="step-header collapsible">
                                <h3>Create your Ruby application with SQL Server <span class="expand-icon">+</span></h3>
                                <p class="step-preview">After getting SQL Server and Ruby on your Ubuntu machine, you can now proceed to create your new Ruby projects. <span class="see-more">... <strong>See more</strong></span><span class="preview-content">Here we will explore two simple applications. One of them will perform basic Insert, Update, Delete, and Select operations, while the second one will make use of <a href="http://rubyonrails.org/">Ruby on Rails</a>, one of the most popular Ruby frameworks, to execute the same operations.</span></p>
                            </div>
                            <span class="step-content">
                            {{codemacros.rubyCRUD()}}
                            {{codemacros.rubyRails()}}
                            </span>
                        </div>
                    </li>
                    <!-- END this section is for Ruby ORM SQL CRUD -->
                    <!-- START Columnstore-->
                    <li>
                        <div class="step-item">
                            <span>3</span>
                        </div>
                        <div class="step-body">
                            <div tabindex="3" class="step-header collapsible">
                                <h3 id="section-3-title">Make your Ruby app up to <strong>100x faster</strong> using Columnstore <span class="expand-icon">+</span></h3>
                                <p class="step-preview">Now that you have explored the basics, you are ready to see how you can make your app better with SQL Server. <span class="see-more">... <strong>See more</strong></span>
                                <span class="preview-content">In this module we will show you a simple example of <a href="https://msdn.microsoft.com/en-us/library/gg492088.aspx">Columnstore Indexes </a> and how they can improve data processing speeds. <b>Columnstore Indexes</b> can achieve up to 100x better performance on analytical workloads and up to 10x better data compression than traditional rowstore indexes.</span></p>
                            </div>
                            <span class="step-content">
                                {{codemacros.rubyColumnstore()}}
                            </span>
                        </div>
                    </li>
                    <!-- END Columnstore-->
                     <li>
                        <div class="step-item" id="resources">
                            <span>+</span>
                        </div>
                        <div class="step-body">
                            {{macros.installVSCodeExtension()}}   
                        </div>
                    </li>      
                    <li>
                        <div class="step-body">  
                            {{macros.rubyCTA("https://docs.microsoft.com/en-us/sql/linux/")}}
                        </div>
                    </li>
                    <li>
                        <div class="step-item-tools">
                        </div>
                        <div class="step-body">
                            {{macros.feedback()}}
                        </div>
                    </li>
                </ol>
 {{codemacros.discus()}}

{% endblock %}