<div id="headerArea new" class="uhf" data-m="{&quot;cN&quot;:&quot;headerArea&quot;,&quot;cT&quot;:&quot;Area_coreuiArea&quot;,&quot;id&quot;:&quot;a1Body&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;Body&quot;}">
	<div id="headerRegion" data-region-key="headerregion" data-m="{&quot;cN&quot;:&quot;headerRegion&quot;,&quot;cT&quot;:&quot;Region_coreui-region&quot;,&quot;id&quot;:&quot;r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;a1&quot;}">
		<div id="headerUniversalHeader" data-m="{&quot;cN&quot;:&quot;headerUniversalHeader&quot;,&quot;cT&quot;:&quot;Module_coreui-universalheader&quot;,&quot;id&quot;:&quot;m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;r1a1&quot;}" data-module-id="Category|headerRegion|coreui-region|headerUniversalHeader|coreui-universalheader">
			<div data-m="{&quot;cN&quot;:&quot;cookiebanner_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;m1r1a1&quot;}">
				<div id="uhfCookieAlert">
					<div id="msccBanner" dir="ltr" data-site-name="Microsoft.OneRenderFramework.Core" data-mscc-version="0.4.1" data-nver="aspnet-3.1.3" data-sver="0.1.2" class="cc-banner active" role="alert" aria-labelledby="msccMessage">
						<div class="cc-container">
							<svg class="cc-icon cc-v-center" x="0px" y="0px" viewBox="0 0 44 44" height="30px" fill="none" stroke="currentColor">
								<circle cx="22" cy="22" r="20" stroke-width="2"></circle>
								<line x1="22" x2="22" y1="18" y2="33" stroke-width="3"></line>
								<line x1="22" x2="22" y1="12" y2="15" stroke-width="3"></line>
							</svg>
							<span id="msccMessage" class="cc-v-center cc-text" tabindex="0">This site uses cookies for analytics, personalized content and ads. By continuing to browse this site, you agree to this use.</span>
							<a href="https://go.microsoft.com/fwlink/?linkid=845480" target="_top" aria-label="Learn more about Microsoft&amp;#39;s Cookie Policy" id="msccLearnMore" class="cc-link cc-v-center cc-float-right" data-mscc-ic="false">Learn more</a>
							<button id="cookie_close">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>