<footer class="sql-footer">
  


    <div class="sql-footer-col sql-footer-col--social u-align-right">
        <div class="sql-footer-icons">
            <a href="#" target="_blank" class="sql-footer-icon fa fa-twitter" aria-hidden="true"></a>
            <a href="#" target="_blank" class="sql-footer-icon fa fa-github" aria-hidden="true"></a>
        </div>
    </div>

    <div class="sql-footer-copy">
        <a class="sql-footer-link" href="#">Contact us</a> | 
        <a class="sql-footer-link" href="#">Privacy & cookies</a> | 
        <a class="sql-footer-link" href="#">Terms of use</a> | 
        <a class="sql-footer-link" href="#">Trademarks</a>| 
        <a class="sql-footer-link" href="#">About our ads</a> 
        <a href="#" target="_blank" class="sql-footer-icon fa fa-twitter" aria-hidden="true"></a>
        <a href="#" target="_blank" class="sql-footer-icon fa fa-github" aria-hidden="true"></a>
        © 2017 Microsoft 


    </div>
</footer>
