<footer class="sql-footer">
  




    <div class="sql-footer-copy">
        <a class="sql-footer-link" href="https://go.microsoft.com/?linkid=2028325">Contact us</a> | 
        <a class="sql-footer-link" href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy & cookies</a> | 
        <a class="sql-footer-link" href="https://go.microsoft.com/fwlink/?LinkID=206977">Terms of use</a> | 
        <a class="sql-footer-link" href="https://www.microsoft.com/trademarks">Trademarks</a> | 
        <a class="sql-footer-link" href="https://choice.microsoft.com/">About our ads</a> | 
        © 2017 Microsoft 
      <!--
        <a href="#" target="_blank" class="sql-footer-icon fa fa-twitter" aria-hidden="true" style="float:right;"></a>
        <a href="#" target="_blank" class="sql-footer-icon fa fa-github" aria-hidden="true" style="float:right;"></a>
      -->
    </div>

           
</footer>
