<footer class="sql-footer">
    <div class="sql-footer-col sql-footer-col--double">
        <span class="sql-footer-title">Helpful SQL websites</span>
        <a class="sql-footer-link sql-footer-link--half" href="#" target="_blank">Deploy your application</a>
        <a class="sql-footer-link sql-footer-link--half" href="#" target="_blank">Web frameworks and ORMs</a>
        <a class="sql-footer-link sql-footer-link--half" href="#" target="_blank">DevOps Scenarios</a>
        <a class="sql-footer-link sql-footer-link--half" href="#" target="_blank">Container development</a>
    </div>
    <div class="sql-footer-col">
        <span class="sql-footer-title">Other resources</span>
        <a class="sql-footer-link" href="https://www.microsoft.com/en-us/sql-server/developer-tools" target="_blank">Get SQL tools</a>
        <a class="sql-footer-link" href="https://blogs.technet.microsoft.com/dataplatforminsider/" target="_blank">SQL blog</a>
        <a class="sql-footer-link" href="https://channel9.msdn.com/Tags/sql+server" target="_blank">SQL Videos</a>
    </div>
    <div class="sql-footer-col">
        <span class="sql-footer-title">Join our newsletter</span>
    </div>
    <div class="sql-footer-col sql-footer-col--social u-align-right">
        <div class="sql-footer-icons">
            <a href="#" target="_blank" class="sql-footer-icon fa fa-twitter" aria-hidden="true"></a>
            <a href="#" target="_blank" class="sql-footer-icon fa fa-github" aria-hidden="true"></a>
        </div>
    </div>

    <div class="sql-footer-copy">
        © {{ site.time | date: '%Y' }} SQL get started. All rights reserved. | <a class="sql-footer-link" href="#">License</a>
    </div>
</footer>
