<div class="sql-home">

    <h3 class="sql-home-title">
        Learn about how to use <a href="http://aka.ms/mlsqldev"> SQL Server Machine Learning Services with Python and R</a>
    </h3>

    <div class="sql-home-items">
        <div class="sql-home-item">
            <img class="sql-home-icon" src="http://sqlchoice.azurewebsites.net/en-us/sql-server/developer-get-started/assets/images/r-logo.png" alt="">
            <div class="sql-home-itemflex">
                <a class="sql-home-link sql-home-link--spaced" href="https://microsoft.github.io/sql-ml-tutorials/R/rentalprediction">Build a Predictive model</a>
            </div>
        </div>

        <div class="sql-home-item">
            <img class="sql-home-icon" src="http://sqlchoice.azurewebsites.net/en-us/sql-server/developer-get-started/assets/images/menu/python.png" alt="">
            <div class="sql-home-itemflex">
                <a class="sql-home-link sql-home-link--spaced" href="https://microsoft.github.io/sql-ml-tutorials/python/rentalprediction/">Build a Predictive model</a>
                <i class="sql-new"></i>
            </div>
        </div>
    </div>

    <footer class="sql-home-footer">
        <div class="sql-home-items">
            <div class="sql-home-item sql-home-item--column">
                <a href="https://db-engines.com/en/blog_post/67" target="_blank" rel="noopener noreferrer" aria-labelledby="dbms-award" ><img class="sql-home-icon sql-home-icon--block" src="http://sqlchoice.azurewebsites.net/en-us/sql-server/developer-get-started/assets/images/award.png" alt=""></a>
                <span id="dbms-award" class="sql-home-text">Microsoft SQL Server was named DBMS of the Year, 2016!</span>
            </div>

            <div class="sql-home-item sql-home-item--column">
                <a href="https://channel9.msdn.com/Events/Build/2017" target="_blank" rel="noopener noreferrer" aria-labelledby="watch-videos" ><img class="sql-home-icon sql-home-icon--block" src="http://sqlchoice.azurewebsites.net/en-us/sql-server/developer-get-started/assets/images/channel9.png" alt=""></a>
                <span id="watch-videos" class="sql-home-text">Watch Build videos on Channel 9!</span>
            </div>
        </div>
    </footer>

    <span class="sql-home-message">
        Don't see a programming language you were looking for? Join the conversation on <a class="sql-home-link sql-home-link--underline" href="{{site.gitter}}" target="_blank" rel="noopener noreferrer">Gitter</a>.
        <br>
        <br>
        Contribute to these tutorials on <a class="sql-home-link sql-home-link--underline" href="https://github.com/Microsoft/sqldev/" target="_blank" rel="noopener noreferrer">our GitHub repository</a>!
    </span>
</div>
