<div class="sql-home">

    <h3 class="sql-home-title">
        Learn about how to build an intelligent app with SQL Server and R
    </h3>

    <div class="sql-home-items">
        <div class="sql-home-item">
            <img class="sql-home-icon" src="{{ '/assets/images/r-logo.png' | relative_url }}" alt="">
            <div class="sql-home-itemflex">
                <a class="sql-home-link sql-home-link--spaced" href="#">Build a Predictive model</a>
            </div>
        </div>

        <div class="sql-home-item">
            <img class="sql-home-icon" src="{{ '/assets/images/r-logo.png' | relative_url }}" alt="">
            <div class="sql-home-itemflex">
                <a class="sql-home-link sql-home-link--spaced" href="#">Perform customer clustering</a>
                <i class="sql-new"></i>
            </div>
        </div>
    </div>

    <footer class="sql-home-footer">
        <div class="sql-home-items">
            <div class="sql-home-item sql-home-item--column">
                <img class="sql-home-icon sql-home-icon--block" src="{{ '/assets/images/award.png' | relative_url }}" alt="">
                <span class="sql-home-text">Microsoft SQL Server was named RDBMS of the Year, 2016!</span>
            </div>

            <div class="sql-home-item sql-home-item--column">
                <img class="sql-home-icon sql-home-icon--block" src="{{ '/assets/images/newsletter.png' | relative_url }}" alt="">
                <span class="sql-home-text">Join our newsletter today!</span>
            </div>
        </div>
    </footer>

    <span class="sql-home-message">
        Don't see a programming language you were looking for? Join the conversation on <a class="sql-home-link sql-home-link--underline" href="{{site.gitter}}" target="_blank">Gitter</a>.
    </span>
</div>