<div class="sql-questions">
    <h2 class="sql-questions-title">
        Have Questions?
    </h2>
    <p class="sql-questions-text">
        Happy to help! You can find us on <a href="https://github.com/Microsoft/sql-server-samples/tree/master/samples/tutorials" target="_blank" rel="noopener noreferrer">GitHub</a>, <a href="https://social.msdn.microsoft.com/Forums/en-US/home" target="_blank" rel="noopener noreferrer">MSDN Forums</a>, and StackOverflow. We also monitor the <a href="https://twitter.com/search?q=%23SQLServerDev&amp;src=typd" target="_blank" rel="noopener noreferrer">#SQLServerDev</a> hashtag on Twitter.
    </p>
</div>
