<div class="sql-resources">
    <header class="sql-resources-header">
        <h3 class="sql-resources-title">
            To get general documentation
        </h3>
        <a class="sql-resources-button"
            target="_blank"
            rel="noopener noreferrer"
            href="https://msdn.microsoft.com/en-us/library/mt590198(v=sql.1).aspx">
            Read the SQL Server documentation
        </a>
    </header>

    <div class="sql-resources-list">
        <h3 class="sql-resources-title">
            Check out other related tutorials and SQL Server features!
        </h3>
        {% if site.resources %}
            <ul class="sql-resources-items">
                {% for resource in site.resources %}
                    {% assign item = resource[1] %}
                    {% if item.condition == null or item.condition == page.language %}
                        <li class="sql-resources-item">
                            {{item.pre}} <a class="sql-resources-link" href="{{item.link}}" target="_blank" rel="noopener noreferrer">{{item.text}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
      {% endif %}
    </div>
</div>
