
.copy-button {
	cursor: pointer;
	border: 0;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 6px 10px 10px;
	color: #ecc6c6;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
}

.copy-button:hover,
.copy-button:focus,
.copy-button:active {
	outline: 0;
	background-color: #7e7e7e;
}

.copy-button:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background-size: contain;
	background-image: url('https://sqlchoice.blob.core.windows.net/sqlchoice/static/images/clipboard.svg');
	background-repeat: no-repeat;
	position: relative;
	top: 3px;
}

.step-body pre{
	position: relative;
}
