@import '../base/variables';

.sql-header {
    $padding: 1rem;
    padding-top: $padding;

    &--empty {
        background: transparent;
    }

    &-content {
        text-align: center;
    }

    &-title {
        color: $color-secondary;
        display: block;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        margin-top: 4rem;
        font-weight: 600;
    }

    &-subtitle {
        color: $color-foreground-darker;
        display: block;
        font-size: $font-size-xl;
        font-weight: $font-weight-normal;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    &-micro {
        left: 2rem;
        position: absolute;
        top: 2rem;
        width: 9rem;
        z-index: 0;
    }
}
